@import "tailwindcss";
@plugin "daisyui";



.card-vec {
  position: relative;
  width: 100%;
  height: 11rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.bg-img-left {
  position: relative;
  background-image: url("/vector1.png"), linear-gradient(to right, #7c3aed, #8b5cf6);
  background-position: left;
  background-repeat: no-repeat;
}

.bg-img-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/vector1.png");
  background-position:left;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  pointer-events: none;
}

.bg-img-right {
  
  position: relative;
  background-image: url("/vector1.png"), linear-gradient(to right, #12bd48, #4db94f);
  background-position: left;
  background-repeat: no-repeat;
}

.bg-img-right::after{

    content: "";
  position: absolute;
  inset: 0;
  background-image: url("/vector1.png");
  background-position:left;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  pointer-events: none;
}
